@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&family=Poppins:wght@300;500;700;900&display=swap');
/*font-family: 'Elsie Swash Caps', cursive;*/
/*font-family: 'Poppins', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Syne:wght@800&display=swap');

*{
    outline: none !important;
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}
header{
    position: relative;
    z-index: 1000000;
}
p{
    font-size: 1.3rem;
}
.navbar{
    background: transparent !important;
    transition: 0.5s;
}
.navbar.scrolled{
    background: #ffb8b8 !important;
    transition: 0.5s;
}
.navbar-light .navbar-nav .nav-link {
    transition: 10ms;
    color: rgb(9 0 104);
    font-weight: 900;
    font-size: 1.2rem;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255 187 46);
    text-shadow: 3px 1.5px 4px #2c3033;
    -webkit-text-stroke: .5px rgb(9 0 104);
}
.banner{
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background: url("../images/fondo.png");
    background-size: cover;
}
.banner:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    pointer-events: none;
}
.banner:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    pointer-events: none;
}
.contentBox{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
}
.contentBox h2{
    font-size: 3.5rem;
    padding-bottom: 1.5rem;
}
h1, h2{
    font-family: 'Syne', sans-serif;
    font-weight: 900 !important;
    color: #040059;
}
h3{
    font-weight: 700;
}
.sec1, .sec2, .sec3{
    padding: 100px 0;
}
#linkResumen{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    /*font-size: 2rem;*/
    text-decoration: none;
    color: #040059;
}
#linkResumen:hover{
    color: #FFBB2E;
}
.icons{
    list-style: none;
    display: flex;
}
.icon{
    width: 40px;
    transition: transform .2s ease-in;
}
.icon:hover{
    transform: scale(1.3);
}
a{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #040059;
}
a:hover{
    color: #FFBB2E;
}

/*Form - Contact*/
form
{
    margin: 0 15rem 0;
    align-content: center;
    font-family: "Poppins Medium", sans-serif;
    font-weight: 300;
    background: url("../images/fondo.png");
    background-size: cover;
    border-radius: 5px;
    padding: 3rem;
}
.form-control {
    border-bottom: 1px solid #084298!important;}
/*Contact Form End*/
.footer
{
    bottom: 0;
    left: 0;
    padding: 15px 100px;
}
.nameFooter {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
/*// Small devices (landscape phones, 576px and up)*/
    @media (max-width: 575px)   {
    form{
        margin: 0;
    }
    .sec1, .sec2, .sec3{
        padding: 15px 0;
    }
    .footer{
        padding: 10px 0;
    }
    .nameFooter{
        font-size: .7rem;
    }
        .contentBox h1{
            font-size: 3rem;
        }
}
@media (min-width: 576px) {
    p, h2{
        padding: 0 10px;
    }
    p{
        margin-top: 1rem;
    }
    form{
        margin: 0 1rem 0;
    }
    .footer{
        padding: 0 10px;
    }
    .nameFooter{
        font-size: .75rem;
    }
    .sec1, .sec2, .sec3{
        padding: 70px 0;
    }
}
@media (max-width: 768px){
    .icon{
        width: 30px;
    }
}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    p{
        margin-top: 1rem;
    }
    form{
        margin: 0 5rem 0;
    }
    .nameFooter {
        font-size: 1rem;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    p{
        font-size: 1.1rem;
    }
    form{
        margin: 0 10rem 0;
    }
}

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { }

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 2000px) {
    .sec1, .sec2, .sec3{
        height: 90vh;
        padding: 200px 0;
    }
    form{
        margin: 0;
    }
    .footer{
        margin-top: 500px !important;
    }
}
